.project_card{
    padding: 1em; /* Espaçamento lateral interno*/
    border: 1px solid #043a5d; /* 7a7a7a*/
    /*background-color: #0b182f;*/
    border-radius: 5px;
    width: 24%; /* 24% do total disponível - Ele irá se ajustar de acordo com a quantidade de cards*/
    margin: 0.5%; /*Mantém cada card separado de si*/
}

.project_card h4{
    color: #fff;
    background-color: #0093a7; /*0b182f - 0093a7*/
    padding: 0.4em;
    margin-bottom: 1.3em;
    font-size: 1.3em;
    overflow-wrap: break-word;
    /*border-bottom: 1px solid #7a7a7a;*/
}

.project_card p{
    color: #222; /*020710*/
    margin-bottom: 1em;
}

.project_card p span{
    font-weight: bold;
}

.category_text{
    display: flex;
    align-items: center;
}

.time_text{
    display: flex;
    align-items: center;
}

.time_text span,
.category_text span{
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color:#ccc;
    margin-right: 5px;
}

.category_text .gibabyte{
    background-color: #ffaebc;
}

.category_text .host{
    background-color: #a0e7e5;
}

.category_text .appliance{
    background-color: #b4f8c8;
}

.category_text .caixaspostais{
    background-color: #fbe7c6;
}

.category_text .instancias{
    background-color: #c6fbe4;
}

.category_text .regras{
    background-color: #f6c6fb;
}

.category_text .dominios{
    background-color: #fafbc6;
}

.category_text .horas{
    background-color: #c6fbe5;
}

.time_text .mes{
    background-color: #fbc6e8;
}

.time_text .pessoa{
    background-color: #c6fbf7;
}

.time_text .casosdeuso{
    background-color: #fbf7c6;
}

.project_card_actions{
    margin-top: 1.2em;
    display: flex;
    align-items: center;
}

.project_card_actions a,
.project_card_actions button{
    text-decoration: none;
    border: none;
    background-color: #020710;
    color: #fff;
    font-size: .9em;
    padding: .6em 1em;
    margin-right: 1em;
    cursor: pointer;
    border: 1px solid #020710;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.project_card_actions svg{
    margin-right: 0.5em;
}

.project_card_actions a:hover,
.project_card_actions button:hover{
    color: #00bdd6;
    transform:scale(1.1);
}