.form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 2em 0;
}

.form_body {
    display: flex;
    padding-right: 8em; /*10em*/
    justify-content: center; /* centraliza as colunas na horizontal */
    align-items: center; /* centraliza as colunas na vertical */
}

.column01{
    padding: 0 7em; /*10em*/
}

.column {
    display: flex;
    flex-direction: column;
    margin: 0 2px; /* adiciona uma margem entre as colunas */
}

.form_btn {
    text-align: center;
}
