.form_control{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.form_control label{
    margin-bottom: .6em;
    font-weight: bold;
}

.form_control select{
    margin: 0.6em 0;
    padding: 0.8rem 1.2rem;
    color: #fff;
    background-color: #020710;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px;
    font-size: 1em;
}
