.btn{
    background-color: #020710;
    color: #fff;
    margin: 2em 24em;
    padding: 1em 6em;
    text-decoration: none;
    transition: .5s;
    cursor: pointer;
    border: none;
    text-align: center;
}

.btn:hover{
    color:#00bdd6;
}